baseURL = "https://brongulus.github.io"
languageCode = "en-us"
title = "bacchanalian madness"
theme = "tufte"
publishDir = "docs"

[markup.goldmark.renderer]
  unsafe = true

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = false
    noHl = false
    style = 'perldoc'
    tabWidth = 4
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 5
    ordered = true
